body{
    background: url(Imágenes/imágen\ de\ fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.fondo{
    margin-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: #022c55;
    border-radius: 10px 10px;
    border: 3px solid #FFD700; 
}

h1{
    color: #B8860B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#contenedor{
    margin: 100px;
    padding: 20px;         
    border-radius: 10px;
	background: #031425;
}


.horarios-container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #022c55; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    background-color: #022c55;
    border: 3px solid #FFD700;
}

.horarios-container h2 {
    text-align: center;
    color: #DAA520;
    margin-bottom: 15px;
    border-bottom: 2px solid #DAA520;
    padding-bottom: 10px;
}

#icon-Index{
      position: fixed;
      top: 30px;
      right: 30px;
      color: #da9f0a;
      text-decoration: none;
      background-color: #001F3F;
      padding: 10px;
      border-radius: 15px;
      font-size: 24px;
    }

.dia-horario {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed #0a4f91;
}

.dia-horario:last-child {
    border-bottom: none;
}

.dia {
    font-weight: bold;
    color: #F0E68C;
    flex-grow: 1;
}

.horario {
    color: #FFFFFF;
    text-align: right;
}


#cuerpo {
    text-align: center;
    width: 100%;
    padding: 20px 0; 
}

#cuerpo iframe {
    display: block;
    margin: 0 auto;
}