body{
    background: url(Imágenes/imágen\ de\ fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: #B8860B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#contenedor{
    margin: 100px;
    padding: 20px;         
    border-radius: 10px;
	background: #031425;
}

#cuerpo{
    margin-top: 40px;
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    background-color: #022c55;
    border-radius: 10px 10px;
}

.resaltado{
    font-weight: bolder;
}

#icon-Index{
      position: fixed;
      top: 30px;
      right: 30px;
      color: #da9f0a;
      text-decoration: none;
      background-color: #001F3F;
      padding: 10px;
      border-radius: 15px;
      font-size: 24px;
    }


#cuerpo p,ul{
    color: #97700d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}

