body{
    background: url(Imágenes/imágen\ de\ fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: #B8860B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#contenedor{
    margin: 100px;
    padding: 20px;         
    border-radius: 10px;
	background: #031425;
}

#cuerpo{
    margin-top: 40px;
    margin: 20px;
    padding: 20px;
}

#cuerpo p,ul{
    color: #97700d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

